h5 {
    margin-left: 144px;
    margin-top: 57px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 19.55px;
    color: #5863E3;
}

h1 {
    margin-left: 144px;
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 49px;
    line-height: 56.35px;
    color: #000000;
    width: 450px;
}

/* form {
    margin-left: 144px;
    margin-top: 57px;
} */

.conatiner1 {
    max-width: 1400px;
    width: 100%;
}

.conatiner2{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.boxes {
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.box1 img {
    max-width: 100%;
    height: auto;
}

.box1 h3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #4e4d54;
}

.box1 p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 5px 0;
    font-style: normal;
    font-size: 15px;
    line-height: 17.25px;
    color: #99999A;
    margin-bottom: 8px;
}

.foto img {
    width: 80px; 
    height: 50px; 
}

.foto img + img {
    margin-left: 300px; 
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: #000000;
    margin-top: 39px;
    padding: 65px 0;
}

h3 {
    width: 155px;
    padding-left: 144px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 29.9px;
    color: #FFFFFF;
}

h4 {
    width: 295px;
    padding-top: 23px;
    padding-left: 144px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 19.55px;
    color: #99999A; 
}

.logos {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 139px;
    margin-top: 12px;
}

.right {
    display: flex;
    align-items: center;
    gap: 125px;
    margin-right: 60px;
}

h2 {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 32px;
}

.navs p {
   color: #5863e3;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
}
