h5 {
    margin-left: 144px;
    margin-top: 57px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 19.55px;
    color: #5863E3;
}

h1 {
    margin-left: 144px;
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 49px;
    line-height: 56.35px;
    color: #000000;
    width: 450px;
}

/* form {
    margin-left: 144px;
    margin-top: 57px;
} */

.conatiner1 {
    max-width: 1400px;
    width: 100%;
}

.conatiner2{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}